@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;800&display=swap');

:root{

    /* Paleta de color Máquina */
        --Gris-oscuro: #3D3C3B;
        --Gris-claro: #C6C6C6;
        --Naranja: #F07D05;
        --Blanco: #FFFFFF;
    
    
    /*Paleta de color fondo */
    
    --fondo-general-azul-oscuro: #222832;
    --fondo-letras-titulo-amarillo: #E7A117;
    --letras-cartel-titulo-gris-azulado: #2F3847;
    --letra-card-negro: #000000;
    --gris-claro:#616366;
    --azul-oscuro: #181E4B;
    
    }


    

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'M PLUS Rounded 1c';
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #f6fafc;
}

/* header section */
header {
    background:linear-gradient(to right, var(--azul-oscuro), var(--gris-claro) );    color: #fff;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.headerpart1{
    display: flex;
    justify-content: space-between ;
    padding-bottom: 5px;
}
.headerpart2 {
    padding-top: 15px;
}

header h1 {
    margin-right: 30px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.initiation .content{
    color: #fff;
}
.initiation header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
}
.initiation .logo{
    display: flex;
    align-items: center;
    color:#F07D05;
    font-size: 25px;
    margin-left: 10px;
}
.initiation .logo i{
    display: inline-block;
    margin-right: 20px;
}
#initiation header nav a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    text-transform: uppercase;
    border: 2px solid transparent;
}
.initiation header nav a:hover{
    border-bottom: 2px solid var(--fondo-letras-titulo-amarillo);
}
.initiation .webs a{
    text-decoration: none;
    color: var(--Blanco);
    display: inline-block;
    margin: 0 10px;
}
.initiation .webs a:hover{
    color: var(--fondo-letras-titulo-amarillo);
}

#icon-nav{
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
    display: none;
}
#icon-nav:hover{
    background-color: #3e3e3e;
}
.shadow{
    filter:drop-shadow(0em 10px 5px #F07D05);
}
main {
    padding: 20px;
}

h2 {
    color: (--Blanco);
}

.homepage{
    display: none;
}

.webs{
    margin-left: 40px ;
}



/* gallery section */

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.item {
    background-color: #ffffff;
    border: 1px solid #007be5;
    padding: 10px;
    border-radius: 5px;
    width: calc(33% - 20px);
    box-sizing: border-box;
}

.item img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    max-width: 100%;
}

.item h3 {
    margin: 10px 0;
    font-size: 1.2em;
    color: #333;
}

.item p {
    margin: 5px 0;
}

.item a {
    display: block;
    text-align: center;
    background-color: #007be5;
    color: #fff;
    text-decoration: none;
    padding: 5px;
    border-radius: 3px;
    margin-top: 10px;
}
.forms{
    border-radius: 50px;
}





/* footer section */
footer {
    border-top: 1px solid var(--Blanco);
    position: relative;
    width: 100%;
    background:linear-gradient(to right, var(--azul-oscuro), var(--gris-claro) );
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
  }
  
  .icon-elem {
    list-style: none;
  }
  
  .icon {
    color: white;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
  }
  
  .icon:hover {
    transform: translateY(-10px);
  }
  
  .menu {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .menu-elem {
    list-style: none;
  }
  .menu-icon {
    color: white;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5;
    transition: 0.1s;
  }
  
  .menu-icon:hover {
    opacity: 1;
  }
  
  .text {
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
  }

/* SECCION RESPONSIVE */
@media (max-width: 768px) {
    .item {
        width: calc(50% - 20px);
        gap:20px;
        
    }
    section h2{
        padding: 40px;
    }
}

@media (max-width: 480px) {
    .item {
        width: calc(100% - 20px); 
        gap:20px;
    } 
    
    
}


@media screen and (max-width:1180px){
    .initiation{
        clip-path: none;   
    }

    .homepage{
        visibility: visible;
    }

}
@media screen and (max-width:800px){
    #nav{
        display: none;
    }

    .homepage{
        display: contents;
      
    }

    #nav.responsive{
        background-color: rgba(0,0,0,.9);
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        position: absolute;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 99;
    }
    #nav.responsive a{
        font-size: 30px;
    }
    #icono-nav{
        display: block;
    }

    .initiation{
        height: auto;
    }

    .webs{
        display: none;
    }

    
    }

}
